body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif !important;
    background-color:black !important;
    color:white !important;
}

p {
    font-size: larger;
}
.image-resize {
    height: 450px;
    padding: 10px;
    object-fit: contain;
}

.image-resize2 {
    height: 450px;
    padding: 10px;
}
.image-resize3 {
    height: 550px;
    padding: 10px;
}
.image-resize4 {
    height: 450px;
    padding: 10px;
}

.image-resize5 {
    height: 800px;
    padding: 10px;
}

.image-resize-logo {
    height: 100px;
    padding: 10px;
    object-fit: contain
}
figcaption {
    font-weight: 700;
}
