body {
  padding: 10px;
  font-family: 'Roboto', sans-serif !important;
  background-color: black !important;
  color: white !important;
}

h3 {
  color: #e61c44;
  padding-top: 15px;
  font-weight: normal !important;
}

p {
  font-size: 16px;
  justify-content: left;
  font-weight: normal;
}

a {
  font-size: 30px;
  color: #e61c44 !important;
}

.image-resize {
  padding: 10px;
  padding-bottom: 10px;
}

.image-resize2 {
  padding: 10px;
  padding-bottom: 10px;
}
.image-resize3 {
  padding: 10px;
  padding-bottom: 10px;
}
.image-resize4 {
 padding: 10px;
  padding-bottom: 10px;
}

.image-resize5 {
  padding: 10px;
  padding-bottom: 10px;
}

.image-resize-logo {
  padding: 10px;
  padding-bottom: 10px;
}
figcaption {
  font-weight: 700;
}
