.nav-item,
.navbar {
  text-transform: uppercase;
  text-shadow: white;
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-align: center;
}
.container {
  padding-bottom: 15px;
}
h2 {
  font-size: 20px;
  text-align: center;
  text-decoration: double;
  text-decoration-color: #e61c44;
}
p {
  font-size: 15px;
  text-align: left;
}
img {
  width: 50%;
  height: auto;
  position: inherit;
  left: 50%;
  top: 50%;
  transform: translate(50%, 5%);
}

.footer {
  text-align: center;
}
