.nav-link,
.navbar {
  padding: 20px;
  text-transform: uppercase;
  text-shadow: black;  
}
.container {
  padding-bottom: 15px;
}
h2 {
    font-size: 20px;
    text-align: center;
}
p {
    font-size: 20px;
    text-align: center;
} 
img {
  width: 50%;
  height: auto;
  position: inherit;
  left: 50%;
  top: 50%;
  transform: translate(50%, 5%);
} 