.nav-item,
.navbar {
  text-transform: uppercase;
  text-shadow: white;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-align: center;
}

.container {
  padding-bottom: 15px;
}

h2 {
  font-size: 35px;
  text-align: center;
  text-decoration-color: #e61c44;
  text-decoration-line: underline;
  font-family: "masque", sans-serif;
}
p {
  font-size: 20px;
  text-align: center;
}
h5 {
color: #e61c44;
font-weight: 700;
}
img {
  width: 100%;
  height: auto;
  position: initial;
  left: 50%;
  top: 50%;
  transform: translate(auto);

}

.footer {
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-style: italic;
  font-weight: 600;
  position: inherit;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #DC3545; 
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

label {
  font-weight: 700;
}
input[type=email] {
  position: inherit;
  border: 1px solid #DC3545; 
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  font-weight: 600;
  font-style: italic;
}
input[type=fullname] {
  position: inherit;
  border: 1px solid #DC3545; 
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  font-weight: 600;
  font-style: italic;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #DC3545;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  align-content: center;
}

input[type=submit]:hover {
  background-color: #dc3546bd;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 20px;
}

.button {
  text-align: center;
}
.col-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 5px;
  line-height: 20px;
  margin: 10px;
  text-justify: auto;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.social-icons {
  text-align: center;
  position: relative;
}

#myBtn {
  display: none;
  position: fixed; 
  bottom: 10px; 
  right: 30px; 
  z-index: 99;
  border: none; 
  outline: none; 
  background-color: #DC3545; 
  cursor: pointer;
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555; 
}

.go-up {
padding-right: 1px;
}

.col-sm-9 {
margin: auto;
}

@font-face {
  font-family: masque;
  src: url(/font/MASQUE__.ttf);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.me {
  max-width: 70%;
  filter: grayscale(100%);
}
.img-col {
  flex-basis: 400%;
}

hr {
  width: 50%;
  color: #DC3545;
  background-color: #DC3545;
  height: 2px;
}